name: SonarCloud

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: implementation_A1
          args: >
            -Dsonar.organization=jeremicmina
            -Dsonar.projectKey=jeremicMina_2AA4-Project-1
            -Dsonar.sources=.
